{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}"/>
<div class="jumbotron text-center" style="background-color: #ffffff">
    <div class="card">
        <form action="http://127.0.0.1:5000/uploader" method="POST" enctype = "multipart/form-data">
            <input type="file" class="form-control" name="file1">
            <input type="file" class="form-control" name="file2"/>

            <br/><br/>
            <input type="submit" class="btn btn-primary" value="submit"/>
        </form>
    </div>
    <!--<div>
        <h2>Upload your files for comparing</h2>
        <div class="card">
                Resume :
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="doc, docx, pdf supported" readonly>
                    <label class="input-group-btn">
                        <span class="btn btn-default">
                            Browse&hellip; <input type="file"  (change)="onFileSelected($event)" style="display: none;" accept=".doc, .docx, .pdf">
                        </span>
                    </label>
                </div>
                <br />
                Requirement :
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="doc, docx, pdf supported" readonly>
                    <label class="input-group-btn">
                        <span class="btn btn-default">
                            Browse&hellip; <input type="file" (change)="onFileSelected($event)" style="display: none;" accept=".doc, .docx, .pdf">
                        </span>
                    </label>
                </div>
                <br />
                <button class="btn btn-primary col-md-offset-8" onclick="location.href = '/counter'">Upload Files&nbsp;&nbsp;<i class="fas fa-cloud-upload-alt"></i></button>
        </div>
    </div>-->
</div>
{% endblock %}